body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(191, 224, 230, 0.5);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(191, 224, 230, 0.3);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

article{
  font-family: 'Oswald', sans-serif;
}

.description{
  white-space: pre-wrap;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
}

.time-block{
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-bottom: 10px;
}

.hour {
  background-color: transparent;
  color: #000000;
}

.past, .present, .future {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.past {
  background-color: rgba(104, 6, 3, 0.7);
}

.present {
  background-color: rgba(163, 153, 5, 0.7);
}

.future {
  background-color: rgba(42, 163, 5, 0.7);
}

.past:hover {
  background-color: rgba(104, 6, 3, 0.3);
}

.present:hover {
  background-color: rgba(163, 153, 5, 0.3);
}

.future:hover {
  background-color: rgba(42, 163, 5, 0.3);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.saveBtn:hover {
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 65%);
}

.saveBtn:hover > i {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 575px) {
  .time-block{
    font-size: 1.5rem;
  }

  .lead{
    line-height: 1.3;
  }
}